<div>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >Crear Oferta</button>

  <!-- Modal Crear offerta-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Editar Oferta</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-create-offer></app-create-offer>
      </div>
    </div>
  </div>
</div>
<hr>
<div>
  <!-- Listado de ofertas-->
  <app-offers></app-offers>
</div>
